* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    border: 0;
    padding: 18px 35px;
}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* HEADER AND NAV STYLES    */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* BANNER STYLES */
.banner {
    margin: 0 30px 0 150px;
    display: flex;
    align-items: center;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* MAIN SECTION  */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* ABOUT SECTION STYLE */
.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
}
.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    color: #757575;
    font-size: 20px;
}
.about .info-description{
    color: #474747;
    font-size: 20px;
}